body{
	/*background-color: red;*/
}
.button{
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover{
	background-color: #3e8e41;
}
.button:active{
	background-color: #3e8e41;
	box-shadow: 0 5x #666;
	transform: translateY(4px);
}
.col-center-block {
	float: none;
	display: block;
	margin: 0 auto;	
}
.remove-button{

}
.remove-button:hover{
	cursor:pointer;
}
.container.custom-container {
	padding: 0 0px;
}



/*eeee*/
/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




.spacer {
    margin-top: 40px; /* define margin as you see fit */
}